<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <h1>All Movies</h1>
    <a href="/movies/add/"><button>Add a new movie</button></a>
    <section class="movies">
      {% for movie in movies %}
      <div class="movie">
        <h3>{{ movie["movie_name"] }}</h3>
        <p><span>Description: </span>{{ movie["movie_desc"] }}</p>
        <form method="post" action="/movies/view/">
          <input
            type="text"
            value="{{ movie['movie_id'] }}"
            name="movie-id"
            id="movie-id"
            hidden
          />
          <input type="submit" value="View {{ movie['movie_name'] }}" />
        </form>
      </div>
      {% endfor %}
    </section>
    <a href="/"><button>Go to homepage</button></a>
  </body>
</html>
